<div class="card" style="width: 21rem;">
  <div class="card-header">
    <h2>USD</h2>
  </div>

  <div class="card-body">
    <h1>
      <span id="rate_value"></span>
      <span class="badge badge-secondary">RUB</span>
    </h1>
  </div>
</div>